.logo{
  text-align: center;
  align-items: center;
}

h1{
  text-align: center;
  align-items: center;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  justify-content: center;
  
}

.images{
  border: 2px solid blue;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.statistics{
  border: 2px solid blue;
  width: 250px;
  height: 250px;
  margin: 10px;
}

/* .biggest-div{
  border: 3px solid blue;
} */